@model List<BookingDetails>
@{
    ViewData["Title"] = "Bookings";
}
<partial name="_Notification" />
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-2">
                        <i class="bi bi-calendar2-check" style="font-size:2rem;"></i>
                    </div>
                    <h2 class="display-5 fw-bolder text-white mb-2">Current Bookings</h2>
                    <p class="lead text-white-50 mb-4">Here lies your bookings history</p>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Flights section-->
<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <form method="post">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th class="text-center">
                            UserId
                        </th>
                        <th class="text-center">
                            FlightId
                        </th>
                        <th class="text-center">
                            Booking Time
                        </th>
                        <th class="text-center">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var booking in @Model)
                    {
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete booking</h5>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @if (Context.User.IsInRole("Admin"))
                                        {

                                            <span>Are you sure you want to delete booking of flight @booking.flightid for user @booking.userid</span>
                                        }

                                        else{
                                        <span>
                                            Are you sure you want to delete your booking of flight @booking.flightid
                                            </span>
                                            <input type="text" placeholder="Reason for deletion" name="reason" class="form-control mt-3 w-75"></input>
                                        }
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button class="btn btn-danger" formmethod="post" asp-controller="Booking" asp-action="Delete" asp-route-details="@JsonConvert.SerializeObject(booking)" type="submit">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <tr>
                            <td class="text-center" id="userid" name="userid">
                                @booking.userid
                            </td>
                            <td class="text-center" id="flightid" name="flightid">
                                @booking.flightid
                            </td>
                            <td class="text-center">
                                @booking.time
                            </td>
                            <td class="text-center">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Delete
                                </button>
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</section>

